# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="file:./dev.db"

JWT_SECRET_TOKEN = "/F5QRerw8zS/RyHDTwihSW1zMNDX6lEaoqgRhrBVkk+8LpvuqrSv0jgje/+K12V9
WPD1JeUljiU5tmvOpOwUow==
"

JWT_REFRESH_TOKEN = "nGGXHbC7i+uPt0hABg2bHLNDQJ9yI6bfrU+6wVCdrPSBSalnjVagCYmHLhf5f9lG
Ootfjsm4/svxqEi9Qxg1BQ==
"